.ant-btn-primary {
  color: #433520;
  background: #f4f4f4;
  border: 1px solid black;
  font-weight: 600;
  font-size: 12px;
}
.ant-btn-primary:hover {
  background: #ffffff !important;
  color: #01927c !important;
}
.ant-input-outlined {
  background: #ffffff;
  border: 1px solid black;
}

.ant-btn-default {
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #433520;
}
.ant-btn-default:hover {
  background-color: #20c997 !important;
  color: white !important;
  border: 1px solid #20c997 !important;
}
